# Node.js dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE or editor folders/files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# React specific
coverage/
*.log
.cache/
.pnp.*
.pnp.js

# Optional: debug or local files
*.local
